<div class="modal fade" id="rejectSale" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form class="modal-content" [formGroup]="textForm" (ngSubmit)="handleSubmit()">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Rechazar Venta</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <label class="mb-1">Descripción</label>
                    <textarea formControlName="text" placeholder="Información de porque rechaza la venta" style="width: 100%;height: 150px"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-danger">Rechazar Venta</button>
            </div>
        </form>
    </div>
</div>