<div class="row">
    <h2 class="fs-2 fw-semibold mb-5">Características del producto </h2>
    <div class="col-12">
        <div class="row item">
            <div class="col-md-2 col-12 d-flex justify-content-between item-name fw-semibold">Categoría<div class="d-md-flex d-none" style="color: var(--subaster-main-80)">|</div></div>
            <div class="col-md-10 col-12">{{publication.category}}</div>
        </div>
        <div class="row item">
            <div class="col-md-2 col-12 d-flex justify-content-between item-name fw-semibold">Estado del producto<div class="d-md-flex d-none" style="color: var(--subaster-main-80)">|</div></div>
            <div class="col-md-10 col-12">{{publication.product_state}}</div>
        </div>
        <div class="row item">
            <div class="col-md-2 col-12 d-flex justify-content-between item-name fw-semibold">Dimensiones<div class="d-md-flex d-none" style="color: var(--subaster-main-80)">|</div></div>
            <div class="col-md-10 col-12">{{publication.dimentions}} {{publication.unity}}</div>
        </div>
        <div class="row item">
            <div class="col-md-2 col-12 d-flex justify-content-between item-name fw-semibold">Peso<div class="d-md-flex d-none" style="color: var(--subaster-main-80)">|</div></div>
            <div class="col-md-10 col-12">{{publication.weight}} Kg</div>
        </div>
        <div class="row item">
            <div class="col-md-2 col-12 d-flex justify-content-between item-name fw-semibold">Comuna<div class="d-md-flex d-none" style="color: var(--subaster-main-80)">|</div></div>
            <div class="col-md-10 col-12">{{publication.address.commune}}</div>
        </div>
        <div class="row item">
            <div class="col-md-2 col-12 d-flex justify-content-between item-name fw-semibold">Región<div class="d-md-flex d-none" style="color: var(--subaster-main-80)">|</div></div>
            <div class="col-md-10 col-12">{{publication.address.region}}</div>
        </div>
    </div>
    <div class="col-12">

    </div>
</div>