:host{
  width: 100%;
}
.btn-group{
  width: 100%;
}
a{
  width: 70%;
  color: white;
  border: 1px solid white;
}
.dropdown-toggle-split{
  width: 30%;
  color: white;
  border: 1px solid white;
}
button{
  width: 100%;
  background-color: var(--subaster-main);
  border: none;
}