<footer class="container-fluid d-flex justify-content-center align-items-center footer p-5">
    <div class="row d-flex justify-content-between align-items-center w-75">
        <div class="col-12">
            <div class="d-flex flex-row flex-wrap justify-content-center">
                <a href="#"><img src="../../../../assets/instagram.png"></a>
                <a href="#" class="mx-md-5 mx-3"><img src="../../../../assets/facebook.png"></a>
                <a href="#"><img src="../../../../assets/twitter.png"></a>
            </div>
        </div>
    </div>
</footer>