<div class="content">
    <form class="d-flex justify-content-center row gy-4" (ngSubmit)="handleSubmit()"  [formGroup]="changePassForm">
        <h1 class="d-flex justify-content-center align-items-center mb-2 fw-bold">Modificar Contraseña</h1>
        <div class="col-12 col-md-8 ">
            <label class="form-label d-flex justify-content-center">Contraseña Actual</label>
            <input
                    [attr.disabled]="loading?true:null"
                    id="currentPassword"
                    type="password"
                    [class]="(changePassForm.controls['currentPassword'].errors && (changePassForm.controls['currentPassword'].dirty || changePassForm.controls['currentPassword'].touched)) ? 'd-flex justify-content-center border-danger form-control':'d-flex justify-content-center form-control'"
                    formControlName="currentPassword"
                    matTooltipClass="bg-danger" matTooltipPosition="below"
                    [matTooltip]="getError('currentPassword')"
                    [matTooltipDisabled]="!(changePassForm.controls['currentPassword'].errors && (changePassForm.controls['currentPassword'].dirty || changePassForm.controls['currentPassword'].touched))"
            />
        </div>
        <div class="col-12 col-md-8">
            <label class="form-label d-flex justify-content-center">Contraseña Nueva</label>
            <input
                    [attr.disabled]="loading?true:null"
                    id="newPassword"
                    type="password"
                    [class]="(changePassForm.controls['newPassword'].errors && (changePassForm.controls['newPassword'].dirty || changePassForm.controls['newPassword'].touched)) ? 'd-flex justify-content-center border-danger form-control':'d-flex justify-content-center form-control'"
                    formControlName="newPassword"
                    matTooltipClass="bg-danger" matTooltipPosition="below"
                    [matTooltip]="getError('newPassword')"
                    [matTooltipDisabled]="!(changePassForm.controls['newPassword'].errors && (changePassForm.controls['newPassword'].dirty || changePassForm.controls['newPassword'].touched))"
            />
        </div>
        <div class="col-12 col-md-8">
            <label class="form-label d-flex justify-content-center">Repetir Contraseña Actual</label>
            <input
                    [attr.disabled]="loading?true:null"
                    id="repeatPassword"
                    type="password"
                    [class]="(changePassForm.controls['repeatPassword'].errors && (changePassForm.controls['repeatPassword'].dirty || changePassForm.controls['repeatPassword'].touched)) ? 'd-flex justify-content-center border-danger form-control':'d-flex justify-content-center form-control'"
                    formControlName="repeatPassword"
                    matTooltipClass="bg-danger" matTooltipPosition="below"
                    [matTooltip]="getError('repeatPassword')"
                    [matTooltipDisabled]="!(changePassForm.controls['repeatPassword'].errors && (changePassForm.controls['repeatPassword'].dirty || changePassForm.controls['repeatPassword'].touched))"
            />

        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
            <button class="btn" [disabled]="changePassForm.invalid">Guardar cambios</button>
        </div>
    </form>
</div>
