<div class="container" style="min-height: 70vh">
    <div class="row d-flex justify-content-center">
        <div class="col-12 texto-inicial">
            <p>
                <strong>
                    En subaster estamos comprometidos con la causa medioambiental, por lo cual te invitamos
                    a revisar los 3 pilares fundamentales para nuestro funcionamiento.
                </strong>
            </p>
        </div>
        <div class="col-12 my-5">
            <div class="row">
                <div class="col-lg-4 col-12 d-flex justify-content-center">
                    <figure>
                        <img src="../../../../assets/imgus1.jpg" alt="">
                        <div class="capa">
                            <h3>Misión</h3>
                            <p>Contribuir a un mundo más sustentable a través
                                de nuestra aplicación web basada en venta de residuos y mermas.
                            </p>
                        </div>
                    </figure>
                </div>
                <div class="col-lg-4 col-12 d-flex justify-content-center">
                    <figure>
                        <img src="../../../../assets/imgus2.jpg" alt="">
                        <div class="capa">
                            <h3>Visión</h3>
                            <p>Ser la plataforma líder en 2025 en subasta de mermas y
                                reciclaje de residuos a nivel nacional.
                            </p>
                        </div>
                    </figure>
                </div>
                <div class="col-lg-4 col-12 d-flex justify-content-center">
                    <figure>
                        <img src="../../../../assets/imgus3.jpg" alt="">
                        <div class="capa">
                            <h3>Compromiso</h3>
                            <p>Somos una empresa comprometida con el medio ambiente,
                                fomentando la economía circular al interior de las organizaciones.
                            </p>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-12 final">
            <p>
                <strong>
                    ¡Únete al cambio, REUTILIZA, RECICLA, RECIRCULA!
                </strong>
            </p>
        </div>
    </div>
</div>