.login-container{
  background: var(--subaster-main);
  color: white;
  border-radius: 4vw;
  width: 90%;
  @media(min-width: 768px){
    width: 60%;
  }
}

.error{
  color: red;
}

#alreadySign{
  position: relative;
  right: -20px;
}

input{
  border-radius: 100px;
  box-shadow: 0 6px 2px -2px #343131;
  &.error{
    border: 6px red solid;
  }
}

a, a:focus, a:active{
  color: white;
  text-decoration: none;
}
a:hover{
  color: rgba(255, 255, 255, 0.58)
}

#back{
  color: grey;
}

#textback{
  font-size: medium;
}

#back:hover, #back:focus{
  color: green;
}

