<div class="container-fluid px-0 py-2">
    <div class="d-flex justify-content-center align-items-center">
        <mat-spinner color="accent" *ngIf="loading" value="accent"></mat-spinner>
    </div>
    <div class="row d-flex justify-content-center p-0 m-0">
        <h1 class="col-12 d-flex justify-content-center p-0 fw-bold">Mis Publicaciones</h1>
        <div class="row">
            <div
                    *ngFor="let publication of publications"
                    class="d-flex flex-row justify-content-between col-12 card mb-3 px-2 content w-100"
            >
                <div class="col-2 p-1">
                    <img [src]="publication.files[0].url" [alt]="publication.title">
                </div>
                <div class="col-8 d-flex flex-column justify-content-md-start align-items-start p-2" >
                    <h4 class="text-truncate" style="max-width: 100%">{{publication.title}}</h4>
                    <p  class="line-clamp-2" style="max-width: 100%;">{{publication.description}}</p>
                    <p class="text-truncate"><small class="text-muted">{{publication.created_at}}</small></p>
                </div>
                <div class="col-2 d-flex justify-content-center flex-column p-2">
                    <button routerLink="/user/publication/{{publication.id_fixed}}" class="option-button text-truncate w-100">Ver en Web</button>
                    <button [routerLink]="['/seller/menu/', {outlets: {'seller-menu': ['publication', publication.id_fixed]}}]" class="option-button text-truncate w-100">Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>